<%= div_for(gallery, title: gallery.description, class: "col-sm-6 col-md-3") do %> 
	<div class="thumbnail">
		<img data-src="holder.js/300%x200" alt="...">
		<div class="caption">
			<h3><%= gallery.name %></h3>
			<p><%= gallery.description %></p>
			<p>
				<%= link_to "Edit", gallery_path(gallery),role: "button",class: "btn btn-primary" %>
				<%= link_to "Delete", gallery_path(gallery), method: :delete,role: "button", data:{confirm: 'Are you sure?'},class: "btn btn-default", remote: true %>
			</p>
		</div>
	</div>
<% end %>




