<%= form_for [:admin, @user] do |f| %>
<div class="container">
   <div class="page-header">
        <h2>About Me</h2> 
    </div>

    <div id="edit-gallery-body">
        <h3><%=@user.username.capitalize%></h3>
        <div class="well well-large">
            <p id="about-me"><%= f.text_area(:about_me, size: "120x20") %></p>
        </div>   
    </div>

    <div id="edit-gallery-footer">
        <%= link_to "Cancel", admin_galleries_path, type: 'button', class: 'btn btn-default' %>
        <%= f.submit 'Save Changes', class: "btn btn-primary" %>
    </div>
</div>
<% end %>
