<h1>Add an image!</h1>

<%= form_for :image do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div>
<%= f.label :url %>
<%= f.url_field :url %>
</div>

<div>
<%= f.label :description %>
<%= f.text_area :description %>
</div>

<div>
<%= f.label :gallery %>
<%= f.text_field :gallery %>
</div>

<div>
<%= f.label :date_taken %>
<%= f.datetime_field :date_taken %>
</div>

<%= f.submit %>
<% end %>