<!DOCTYPE html>
<html>
<head>
  <title>Elizabeth's Control Panel</title>
  <%= stylesheet_link_tag    "admin/admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin/application", "data-turbolinks-track" => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<% if current_user %>
	<%= render 'adminNav' %>
<% end %>
<%= yield %>
</body>
</html>
